*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 200px;
    height: 200px;
     background-color: red;
       border:4px;
    border-radius: 10px;
    box-sizing: border-box;
}