*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
   background-color:#ececec ;
}
footer.container{
    display: flex;
    justify-content: space-around;
    margin: 100%;
    width: 360%;
    height: 250%;
    padding: 50px;
    min-height: 100vh;
}
