*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

img{
    border-radius: 5px;
}

main, .cont{
    text-align: center;
}

main .input{
    
}